/*--Fonts--*/

.section-title {
    font-family: Calibri, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

p, h3 {
    font-family: Calibri, Helvetica, sans-serif;
    color: rgba(0 0 0 .5);
}

/*--Landing fonts/images--*/

body {
    margin: 0;
}


.text {
    color: #fff;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0px;
    display: inline;
}

.subtext {
    color: #fff;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 40px;
    font-weight: 900;
}

#logo {
    padding-top: 30px;
    width: 255px;
    height: 150px;
    margin-right: 20px;

}

/*--Sections--*/

header {
    background-attachment: fixed;
    background-image: url("../../assets/images/landing.jpg");
    background-position: bottom;
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1;

}


/*--Navigation--*/

.ahinav {
    background-color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 1000000;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transarent;
}

li a {
    display: block;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    float: left;
}

li a:hover {
    color: #A9A9A9;
    text-decoration: none;
}



/*--Sections--*/

#about {
    background-attachment: fixed;
    background-image: url("../../assets/images/about.JPG");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}

#programmes {
    background-attachment: fixed;
    background-image: url("../../assets/images/programmes.jpg");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}

#news {
    background-attachment: fixed;
    background-image: url("../../assets//images/news.JPG");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}

#training {
    background-attachment: fixed;
    background-image: url("../../assets/images/train.jpg");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}


/*--Cards--*/

.ahi-cards {
    display: grid;
    grid-template-rows: none|auto|max-content|min-content|length|initial|inherit;
    padding: 20px 20px 20px 20px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    
}


/*--Transitions--*/

.card {
    transform: translateZ(0px);
    transition-duration: .3s;
    transition-property: transform;
}

.card:hover {
    transform: scale(1.1);
}


/*--Footer--*/

.container-fluid {
    padding-top: 20px;
    background-color: #f8f9fa;
    width: 100%;
}

#footerlogo {
    display: block;
    width: 50%;
    height: 70%;
    margin-top: 20px;
    margin-left: 60px;
}

.btn-secondary {
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;

    }


a {
    text-decoration: none;
    color: #000;
    color: rgba(0, 0, 0, .5);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a.button {
text-decoration: none;
}

/*--Footer Socials--*/

.fa {
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}



/*--Media Queries--*/

