/*--Fonts--*/

p,h3,h5 {
    font-family: Calibri, Helvetica, sans-serif;
    color: #676464;
}

.section-title {
    font-family: Calibri, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: left;
}


/*--Landing fonts/images--*/

body {
    margin: 0;
}

.headtext {
    color: #fff;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    align-items: center;
    padding-top: 300px;
}

.subtext {
    color: #fff;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    align-items: center;
}

#logo {
    padding-top: 30px;
   /*- width: 255px;
    height: 150px;-*/
    margin-right: 20px;
}

/*--Sections--*/

header {
    background-attachment: fixed;
    background-image: url("../images/programmes-min.jpg");
    background-position: bottom;
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    height: 100vh;
    width: 100%;
    z-index: 1;
}


/*--Navigation--*/

.navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 1000000;
    top: 0;
}

.bg-light {
    background-color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding left: 4rem;
    padding-right: 4rem;
    font-size: 20px;
    font-family: Calibri, Helvetica, sans-serif;
}

/*--Sections--*/

#about {
    background-attachment: fixed;
    background-image: url("../../assets/images/about-min.JPG");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}

#programmes {
    background-attachment: fixed;
    background-image: url("../../assets/images/landing-min.jpg");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}

#news {
    background-attachment: fixed;
    background-image: url("../../assets//images/news-min.JPG");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}

#training {
    background-attachment: fixed;
    background-image: url("../../assets/images/training-min.jpg");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: 1;
}


/*--Cards--*/

.ahi-cards {
    display: grid;
    grid-template-rows: none|auto|max-content|min-content|length|initial|inherit;
    padding: 20px 20px 20px 20px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}


/*--Transitions--*/

.card {
    transform: translateZ(0px);
    transition-duration: .3s;
    transition-property: transform;
}

.card:hover {
    transform: scale(1.1);
}


/*--Footer--*/

.container-fluid {
    padding-top: 20px;
    background-color: #fff;
    width: 100%;
}

.col-sm-4 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn-secondary {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    color: #676464;
    font-family: Calibri, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    color: rgba(0, 0, 0, .5);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a.button {
    text-decoration: none;
}

.footer-social-icons {
    padding-top: 20px;
}


/*--Footer Socials--*/

.fa {
    padding: 10px;
    font-size: 17px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}



/*--Media Queries--*/

@media only screen and (max-width: 375px) {

}
